@model IEnumerable<Team>

@{
    ViewBag.Title = "Teams Page";
    Layout = "_Layout";
}

<h2>Admin Panel</h2>

<div class="form-group">
    <form asp-action="ExportData" method="post">
        <input type="submit" value="Export Data" class="btn btn-info"/>
        
        @Html.AntiForgeryToken()
    </form>
</div>

<div class="form-group">
    <form asp-action="ImportData" method="post">
        <input type="submit" value="Import Data" class="btn btn-info" />

        @Html.AntiForgeryToken()
    </form>
</div>
